enum34; python_version < '3.4' and sys_platform == 'win32'
psutil; sys_platform == 'linux' or sys_platform == 'linux2'
pyasn1
rsa; sys_platform == 'win32'
secretstorage; sys_platform == 'linux' or sys_platform == 'linux2'
https://github.com/AlessandroZ/pypykatz/archive/master.zip; sys_platform == 'win32'  # should point to pypykatz if my PR is approved
